.button {
  border: none;
  color: white;
  cursor: pointer;
  width: 200px;
  height: 62px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 600;
}

.button-primary {
  background-color: #F77E53;

  &:hover{
    transition: all 0.3s ease-in-out;
    background-color: #a9553a;
  }
}

.button-secondary {
  background-color: #ccc;
  color: #000;
}
