<section class="video-testimonial">
  <div class="title-block">
    <div class="title">Transform your life through education</div>
    <p class="description">Ariel Hocsman launched a new career in software development by taking courses on Besnik.
                           What will you be
        able to do?</p>
    <button>Get Started</button>
  </div>
  <div class="video-container">
    <div class="background"></div>
    <video controls poster="assets/img/db8254cc301b3350745232e03c67055a.png">
      <source src="your_video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="play-video-container">
      <img class="play-video" src="assets/img/svg8.svg">
    </div>
    <div class="vignettes">
      <div class="vignette">
        <img src="assets/img/af33c642dc7caf4d800e6138c264e781.png">
        <span>Lecture 2</span>
      </div>
      <div class="vignette">
        <img src="assets/img/7e9a1e392f809917d32b642e1564d328.png">
        <span>Lecture 3</span>
      </div>
      <div class="vignette">
        <img src="assets/img/278205af4d715bbe4c21a98be3ffdeb6.png">
        <span>Lecture 4</span>
      </div>
    </div>
  </div>
</section>
